

# Task Switcher
switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

function("SfwbarInit") {
  SetBarId "bar-0"
  SetLayer "top"
  SetExclusiveZone "-1"
# SetMonitor "eDP-1"
#  SetBarSize "bar1","800" 
}

function("ToggleMinimize") {
  [!Minimized] Minimize
  [Minimized] UnMinimize
}

function("ToggleMaximize") {
  [!Maximized] Maximize
  [Maximized] UnMaximize
}

function("ToggleValue") {
  [!UserState] UserState "on"
  [!UserState] SetValue "btop"
  [UserState] UserState "off"
  [UserState] SetValue "btop"
}







menu("winops") {
  item("close", Close );
  item("Minimize", Function "ToggleMinimize" );
  item("Maximize", Function "ToggleMaximize" );
}

# Panel layout

layout "tint2" {
    button {
      value = "go-home"
      action = "nwg-drawer"                        # launcher
      style = "nwg"
    }
    button {
      value = "google-chrome-stable"
      action = "google-chrome-stable"                        # launch firefox on click
      style = "launcher"
    }
    button {
      value = "kitty"
      action = "kitty"
      style = "launcher"
    }
    button {
      value = "Codium"
      action = "codium"
      style = "launcher"
    }
    button {
      value = "user-home"
      action = "nautilus"
      style = "launcher"
    }


  pager {
    style = "pager"
    rows = 1
    preview = true
    numeric = true
  }

  taskbar {
    rows = 1
    css = "* { -GtkWidget-hexpand: true; }" # stretch horizontally
    icons = true
    labels = true
    action[3] = Menu "winops"
  }


  tray {
    rows = 1
  }

  include("cpu.widget")


  button {
  value = "audio-volume-high"
  action[1] = "pavucontrol"
  action[2] = "pamixer -t"
  action[3] = "pavucontrol"
  action[4] = "/home/iggut/.config/hypr/scripts/volume --inc"
  action[5] = "/home/iggut/.config/hypr/scripts/volume --dec"
  style = "launcherpw"
  }

  grid {
    css = "* { padding-left: 5px; padding-right: 5px; }"
    label {
      value = Time("%k:%M")
      loc(1,1)
      action = "bash /home/iggut/.config/hypr/scripts/wallpaper.sh"
    }
    label {
      value = Time("%A %e %B")
      loc(1,2)
    }
  }

    button {
      value = "system-shutdown-symbolic"
      action = "wlogout"
      style = "launcherpw"
    }  
}

#CSS
window#tint2 {
  -GtkWidget-direction: bottom;
  background-color: rgba(0,0,0,0.6);
  border-color: rgba(0,0,0,0.3);
}



button#taskbar_normal grid {
  -GtkWidget-hexpand: false;
  padding-right: 0px;
  margin-right: 0px;
}

button#taskbar_normal image,
button#taskbar_active image,
button#taskbar_normal:hover image {
  -GtkWidget-vexpand: true;
  box-shadow: none;
  border: none;
  border-image: none;
  background-image: none;
  background: none;
  min-width: 16px;
  min-height: 16px;
  -gtk-icon-shadow: none;
}

button#taskbar_normal label,
button#taskbar_active label,
button#taskbar_normal:hover label {
  -GtkWidget-vexpand: true;
  -GtkWidget-hexpand: false;
  padding-left: 0.75mm;
  padding-top: 0px;
  padding-bottom: 0px;
  font: 0.3cm Sans;
}

button#taskbar_normal,
button#taskbar_active,
button#taskbar_normal:hover {
  padding-left: 1mm;
  padding-top: 0mm;
  padding-bottom: 0mm;
  background-image: none;
  border-radius: 8px;
  border-image: none;
  margin-right: 0px;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  -GtkWidget-hexpand: false;
  -GtkWidget-vexpand: false;
  background-color: rgba(119,119,119,0.2);
  border-color: transparent;
  box-shadow: none;
}

button#taskbar_active {
  background-color: rgba(119,119,119,0.2);
  border-color: rgba(255,255,255,0.4);
}

button#taskbar_normal:hover,
button#taskbar_active:hover {
  background-color: rgba(176,176,176,0.22);
  border-color: rgba(234,234,234,0.44);
}

button#pager_normal,
button#pager_visible,
button#pager_focused {
  padding-left: 1.25mm;
  padding-right: 1.25mm;
  padding-top: 0.5mm;
  padding-bottom: 0.5mm;
  background-image: none;
  border-radius: 8px;
  border-image: none;
  font: 0.3cm Sans;
  background-color: rgba(119,119,119,0.0);
  border-color: rgba(119,119,119,0.0);
  box-shadow: none;
}

button#pager_focused {
  background-color: rgba(119,119,119,0.2);
  border-color: rgba(255,255,255,0.0);
}

button#nwg {
  padding-left: 1.25mm;
  padding-right: 1.25mm;
  padding-top: 0.5mm;
  padding-bottom: 0.5mm;
  background-image: none;
  border-radius: 8px;
  border-image: none;
  font: 0.3cm Sans;
  background-color: transparent;
  border-color: rgba(119,119,119,0.0);
  box-shadow: none;
}

button#nwg:hover {
  background-color: rgba(119,119,119,0.2);
  border-color: rgba(255,255,255,0.0);
}

button#pager_preview {
  background-image: none;
  border-radius: 0;
  border-image: none;
  border-color: #000000;
  border-width: 0.25mm;
  color: #777777;
  min-width: 5cm;
  min-height: 2.8125cm;
}

grid#pager {
  outline-color: #000000;
  outline-style: dashed;
  outline-width: 0.25mm;
}

grid#switcher_active image,
grid#switcher_active {
  min-width: 1.25cm;
  min-height: 1.25cm;
  border-image: none;
  padding: 1.25mm;
  background-color: #777777;
  border: 0px;
  box-shadow: none;
  border-radius: 1.25mm;
  -GtkWidget-hexpand: true;
}

grid#switcher_normal image,
grid#switcher_normal {
  min-width: 1.25cm;
  min-height: 1.25cm;
  border-image: none;
  padding: 1.25mm;
  -GtkWidget-direction: right;
  -GtkWidget-hexpand: true;
}

window#switcher { 
  border-style: solid;
  border-width: 0.25mm;
  border-color: #000000;
  border-radius: 1.25mm; 
  padding: 1.25mm; 
  -GtkWidget-hexpand: true;
}

grid#switcher { 
  border-radius: 1.25mm;
  padding: 1.25mm;
  background-color: rgba(0,0,0,0.8);
  border-color: rgba(119,119,119,0.8);
  box-shadow: none;
  -GtkWidget-hexpand: true;
}

button#tray_active,
button#tray_passive,
button#tray_attention {
  background-image: none;
  background-color: transparent;
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-image: none;
  border-radius: 0px;
  outline-style: none;
  box-shadow: none;
}

button#tray_active image,
button#tray_passive image,
button#tray_attention image {
  min-width: 17px;
  min-height: 17px;
  padding: 1mm;
}

grid#layout {
  padding: 0.25mm;
  -GtkWidget-direction: right;
  min-height: 17px;
}

button#launcher {
  padding-left: 1.25mm;
  padding-right: 1.25mm;
  padding-top: 0.5mm;
  padding-bottom: 0.5mm;
  background-image: none;
  border-radius: 8px;
  border-image: none;
  font: 0.3cm Sans;
  background-color: transparent;
  border-color: rgba(119,119,119,0.0);
  box-shadow: none;
}
button#launcher:hover {
  background-color: rgba(119,119,119,0.2);
  border-color: rgba(255,255,255,0.0);
}
button#launcherpw {
  padding-left: 1.25mm;
  padding-right: 1.25mm;
  padding-top: 0.5mm;
  padding-bottom: 0.5m30m;
  background-image: none;
  border-radius: 8px;
  border-image: none;
  font: 0.3cm Sans;
  background-color: transparent;
  border-color: rgba(119,119,119,0.0);
  box-shadow: none;
}
button#launcherpw:hover {
  background-color: rgba(119,119,119,0.2);
  border-color: rgba(255,255,255,0.0);
}
menu {
  background-color: rgba(0,0,0,0.8);
  border-color: rgba(119,119,119,0.3);
  box-shadow: none;
}

menuitem {
color: #ffffff;
}

label {
  font: 0.27cm Sans;
  color: #ffffff;
  text-shadow: none;
}

* {
  -GtkWidget-vexpand: true;
}
