* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0);
}

button {
    color: #FFFFFF;
	background-color: rgba(12, 12, 12, 0.2);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #00000096;
	outline-style: none;
}

#cancel {
    background-image: image(url("/etc/wlogout-icons/lock.png"), url("/etc/wlogout-icons/lock.png"));
}

#logout {
    background-image: image(url("/etc/wlogout-icons/logout.png"), url("/etc/wlogout-icons/logout.png"));
}

#suspend {
    background-image: image(url("/etc/wlogout-icons/suspend.png"), url("/etc/wlogout-icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/etc/wlogout-icons/hibernate.png"), url("/etc/wlogout-icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/etc/wlogout-icons/shutdown.png"), url("/etc/wlogout-icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/etc/wlogout-icons/reboot.png"), url("/etc/wlogout-icons/reboot.png"));
}
